@model LexiconLMS.ViewModels.LandingPageViewModel
@{
    ViewBag.Title = "SendMessage";
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}
<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 5%;
        left: 0;
        background-color: #aaa;
        overflow-x: hidden;
        padding-top: 20px;
    }

        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

            .sidenav a:hover {
                color: #f1f1f1;
            }

    .main {
        margin-left: 160px; /* Same as the width of the sidenav */
        font-size: 28px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    @@media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }

            .sidenav a {
                font-size: 18px;
            }
        /* Chat containers */
        .container {
            border: 2px solid #dedede;
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
        }
        /* Darker chat container */
        .darker {
            border-color: #ccc;
            background-color: #ddd;
        }
        /* Clear floats */
        .container::after {
            content: "";
            clear: both;
            display: table;
        }
        /* Style images */
        .container img {
            float: left;
            max-width: 60px;
            width: 100%;
            margin-right: 20px;
            border-radius: 50%;
        }
            /* Style the right image */
            .container img.right {
                float: right;
                margin-left: 20px;
                margin-right: 0;
            }
        /* Style time text */
        .time-right {
            float: right;
            color: #aaa;
        }
        /* Style time text */
        .time-left {
            float: left;
            color: #999;
        }
    }
</style>
<div class="sidenav">
    @Html.Partial("_ChatsList", Model.ChatsList)

</div>

<div class="main">
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>