body {
    padding-top: 50px;
    padding-bottom: 20px;
  /*background-image: url("https://preview.ibb.co/h4sgW8/167300_OVI57_N_347.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#sticky-sidebar {
    position:fixed;
    max-width: 20%;
}


.accordion {
    background-color: #191970;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #3cb371;
    }

.accordion1 {
    background-color: #fa8072;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.accordion1:hover {
    background-color: #4682b4;
}

.active .accordion1 {
    background-color: red
}

.panel, .panel1 {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.breakWord {
    overflow-wrap: break-word
}

.hideOverflow {
    height: 3em;
    line-height: 1.1em;
    text-overflow: ellipsis;
    overflow: hidden
}

.inactive {
    display: none
}

footer {
    clear: both;
}



