body {
    padding-top: 50px;
    padding-bottom: 20px;
  /*background-image: url("https://preview.ibb.co/h4sgW8/167300_OVI57_N_347.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#sticky-sidebar {
    position:fixed;
    max-width: 20%;
}


.accordion {
    background-color: #191970;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

    .active, .accordion:hover {
        background-color: #3cb371;
    }

.panel, .panel1 {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.breakWord {
    overflow-wrap: break-word
}

.hideOverflow {
    height: 3em;
    line-height: 1.1em;
    text-overflow: ellipsis;
    overflow: hidden
}

.inactive {
    display: none
}

.myButton  {
    color: white;
    background-color: #191970
}

.myButton:hover, .myButton:active, .myButton:focus {
    background-color: #3cb371;
}

.card-header {
    border-bottom: none;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.my-btn {
    border: 2px solid white;
    color: white;
    background-color: #ff8c00;
    padding: 8px 20px;
    -ms-border-radius: 8px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

}

footer {
    clear: both;
}
/* here chat style*/
#message, #sendmessage {
    margin-top: 90%;
}

.containermsg {
    border: 1px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 1px;
    padding: 2px;
    margin: 2px 0;
    font-size: medium;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

/* Clear floats */
.container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
.container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    /* Style the right image */
    .container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }

/* Style time text */
.time-right {
    float: right;
    color: #aaa;
}

/* Style time text */
.time-left {
    float: left;
    color: #999;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0;
    background-color: #aaa;
    overflow-x: hidden;
    padding-top: 20px;
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
