<h4 class="form-horizontal">Lexicon</h4>
<hr />
<h6>Om Lexicon</h6>
<br />
<h6>Sveriges största kompetensutvecklare för företag</h6>
<br />
<p>
    Utbildning inklusive allt, komplett kompetensutveckling med mätbara resultat. I snart 40 år har vi med stor framgång utvecklat människor, erbjudit konsulttjänster och hjälpt våra kunder att nå sina mål.

    Som Sveriges största kompetensutvecklare för företag och organisationer kan vi ge våra kunder en högklassig bred service över hela landet. Kom till något av våra 30-tal kompetenscenter, eller låt oss ta vår samlade kunskap och kompetens till er. Lärarlett, digitalt eller ett blended learning-program. Lexicon är med hela vägen.

    När ni investerar i er personal - utmana oss, vi levererar koncept och lösningar som överträffar era förväntningar.
</p>
